* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.weatherApp {
  background-image: url("../public/assets/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.currencyApp {
  background-image: url("../public/assets/images/currencyBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
